// Body
$body-bg: #f5f8fa;
// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$btn-border-radius: 0;
$input-border-radius: 0;
$dropdown-border-radius: 0;
$card-border-radius: 0;
$btn-border-radius-sm: 0;